<p id="notice"><%= notice %></p>

<h1>Quiz Topics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_topics.each do |quiz_topic| %>
      <tr>
        <td><%= link_to 'Show', quiz_topic %></td>
        <td><%= link_to 'Edit', edit_quiz_topic_path(quiz_topic) %></td>
        <td><%= link_to 'Destroy', quiz_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz Topic', new_quiz_topic_path %>
