<p id="notice"><%= notice %></p>

<h1>Topic Choices</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topic_choices.each do |topic_choice| %>
      <tr>
        <td><%= link_to 'Show', topic_choice %></td>
        <td><%= link_to 'Edit', edit_topic_choice_path(topic_choice) %></td>
        <td><%= link_to 'Destroy', topic_choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic Choice', new_topic_choice_path %>
